
@{
    ViewData["Title"] = "Login-Register";
}

<main>
    <div class="container">
        <div class="row">
            <div class="home d-flex">
                <a href="home.html">HOME</a>
                <i class="fa-solid fa-angle-right"></i>
                <span>MY ACCOUNT</span>
            </div>
            <form action="">
                <div class="container">
                    <div class="row">
                        <div class="col-6 mt-5">
                            <div class="login">
                                <h2>LOGIN</h2>
                                <label for="email">Username or Email address *</label>
                                <input type="text" class="login-p">
                                <label for="pass" class="pass">Password *</label>
                                <input type="password" class="login-p">
                                <input type="checkbox" class="remember-me">
                                <label for="remember-me">Remember me</label>
                                <button>Log in</button>
                                <a href="">Lost your password?</a>
                            </div>
                        </div>
                        <div class="col-6 mt-5">
                            <div class="register">
                                <h2>REGISTER</h2>
                                <label for="">Username or Email address *</label>
                                <input type="text" class="login-p">
                                <label for="" class="pass">Password *</label>
                                <input type="password" class="login-p">
                                <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our</p>
                                <a href="">privacy policy.</a>
                                <button>Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
