
@{
    ViewData["Title"] = "Contact";
}

<main>
    <div class="container">
        <div class="row">
            <div class="get-in-touch mt-5">
                <h1>Get In Touch</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam dolor culpa
                    veritatis inventore, aut commodi eum veniam vel.
                </p>
            </div>
            <div class="col-4 mt-4">
                <div class="address">
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <h6>102 Street 2714 Donovan</h6>
                    <p>Lorem ipsum dolar site amet discont</p>
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="contact-number">
                    <div class="phone">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <h6>+02 1234 567 88</h6>
                    <p>Lorem ipsum dolar site amet discont</p>
                </div>
            </div>
            <div class="col-4 mt-4">
                <div class="mail-address">
                    <div class="m-address">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <h6>info@example.com</h6>
                    <p>Lorem ipsum dolar site amet discont</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-wrapper mt-5">
                <div class="your-message mt-5">
                    <div class="send-us mt-5">
                        <h1>Send Us</h1>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam
                            dolor culpa veritatis inventore, aut commodi eum veniam vel.
                        </p>
                    </div>
                    <div class="form mt-5">
                        <form action="">
                            <div class="row">
                                <div class="col-6">
                                    <label for="text">Your name *</label>
                                    <input type="text">
                                </div>
                                <div class="col-6">
                                    <label for="email">Your email *</label>
                                    <input type="email">
                                </div>
                                <div class="col-12">
                                    <label for="text" class="subject">Subject *</label>
                                    <input type="text">
                                </div>
                                <div class="col-12">
                                    <label for="text" class="subject">Your message</label>
                                    <input type="text" class="message">
                                </div>
                                <div class="col-6">
                                    <button>Send message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    </div>
    </div>
    </div>
    </div>
</main>
