
@{
    ViewData["Title"] = "Blog";
}

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-9 blog-img">
                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-3.jpg" alt="">
                <i class="fa-solid fa-clock"></i>
                <a href="">
                    <span>May 3, 2021</span>
                </a>
                <i class="fa-solid fa-bookmark book-bandage"></i>
                <a href="">
                    <span>Tips & Tricks</span>
                </a>
                <i class="fa-solid fa-bandage book-bandage"></i>
                <a href="">
                    <span>food, store , themeforest</span>
                </a>
                <h1>But I must explain to you how all this mistaken idea</h1>
                <p>Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales</p>
                <button>Read More</button>
                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-5.jpg" alt="" class="img-2 mt-5">
                <i class="fa-solid fa-clock"></i>
                <a href="">
                    <span>May 3, 2021</span>
                </a>
                <i class="fa-solid fa-bookmark book-bandage"></i>
                <a href="">
                    <span>Grocery</span>
                </a>
                <i class="fa-solid fa-bandage book-bandage"></i>
                <a href="">
                    <span>envato, fresh</span>
                </a>
                <h1>The Problem With Typefaces on the Web</h1>
                <p>Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales</p>
                <button>Read More</button>
                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-1.jpg" alt="" class="img-3 mt-5">
                <i class="fa-solid fa-clock"></i>
                <a href="">
                    <span>May 2, 2021</span>
                </a>
                <i class="fa-solid fa-bookmark book-bandage"></i>
                <a href="">
                    <span>Grocery</span>
                </a>
                <i class="fa-solid fa-bandage book-bandage"></i>
                <a href="">
                    <span>food, organic</span>
                </a>
                <h1>The Problem With Typefaces on the Web</h1>
                <p>Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales</p>
                <button>Read More</button>
                <div class="page-numbers d-flex justify-content-center">
                    <div class="page-1 mt-5">
                        1
                    </div>
                    <div class="page-2 mt-5">
                        2
                    </div>
                    <i class="fa-solid fa-angle-right mt-5"></i>
                </div>
            </div>
            <div class="col-3">
                <div class="search">
                    <input type="text" placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="popular mt-5">
                    <h6>POPULAR POSTS</h6>
                    <div class="row">
                        <div class="widget-posts d-flex mt-3">
                            <div class="col-3">
                                <div class="widget-imgs mt-4">
                                    <img src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/blog-3-100x100.jpg" alt="">
                                    <div class="circle-1">1</div>
                                    <img src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/blog-5-100x100.jpg" alt="" class="img-s">
                                    <div class="circle-2">2</div>
                                    <img src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/blog-1-100x100.jpg" alt="" class="img-s">
                                    <div class="circle-3">3</div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="widget-text-1 mt-2">
                                    <span>But I must explain to you how all this mistaken idea</span>

                                </div>
                                <div class="widget-text-2 mt-2">
                                    <span>The Problem With Typefaces on the Web</span>

                                </div>
                                <div class="widget-text-3 mt-2">
                                    <span>English Breakfast Tea With Tasty Donut Desserts</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-medias mt-5">
                    <h6>SOCIAL MEDIA</h6>
                    <button class="fb">
                        <i class="fa-brands fa-facebook-f"></i><span>FACEBOOK</span>
                    </button>
                    <button class="tw">
                        <i class="fa-brands fa-twitter"></i><span>TWITTER</span>
                    </button>
                    <button class="pinterest">
                        <i class="fa-brands fa-pinterest"></i><span>PINTEREST</span>
                    </button>
                    <button class="linkedin">
                        <i class="fa-brands fa-linkedin-in"></i><span>LINKEDIN</span>
                    </button>
                    <button class="reddit">
                        <i class="fa-brands fa-reddit"></i><span>REDDIT</span>
                    </button>
                </div>
                <div class="widgets mt-5">
                    <h6>WIDGET BANNER</h6>
                    <img src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/sidebar-banner.gif" alt="">
                </div>
                <div class="tags mt-5">
                    <h6>TAGS</h6>
                    <div class="boxes mt-4">
                        <div class="row">
                            <div class="col-4">
                                <div class="box-1 col-sm">
                                    <a href="">envato</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="box-2 col-sm">
                                    <a href="">food</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="box-3 col-sm">
                                    <a href="">fresh</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="box-4 col-sm">
                                    <a href="">grocery</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="box-5 col-sm">
                                    <a href="">organic</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="box-6 col-sm">
                                    <a href="">quality</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="box-7 col-sm">
                                    <a href="">store</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="box-8 col-sm">
                                    <a href="">themeforest</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
