.covid {
  background-color: #233a95;
  position: relative;
  text-align: center;
  height: 37px;
  color: white;
  font-size: 12px;
  padding-top: 8px;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.about li {
  color: gray;
  margin-left: 20px;
  font-size: 13px;
  cursor: pointer;
}

.secure {
  padding-bottom: 18px;
  padding-left: 100px;
  text-align: center;
}

.secure span {
  color: gray;
  font-size: 13px;
}

.secure .anc {
  color: gray;
  font-size: 17px;
}

.help {
  text-align: center;
  padding-bottom: 18px;
}

.help span {
  color: gray;
  padding-left: 10px;
  border-left: 1px solid #edeef5;
  font-size: 13px;
}

.help a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  margin-left: 3px;
}

.space {
  border-left: 1px solid #edeef5;
  padding-left: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: center;
}

ul li a {
  display: block;
  color: gray;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

ul li a:hover {
  color: #2bbef9;
}

ul li ul.dropdown {
  padding-top: 40px;
  min-width: 150px;
  min-height: 150px;
  background-color: whitesmoke;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

ul li:hover ul.dropdown {
  background-color: #fafafa;
  color: #2bbef9;
  display: block;
}

ul li ul.dropdown li {
  display: block;
}

.site {
  text-decoration: none;
}

.site .logo-img {
  width: 90%;
}

.site .descp {
  display: block;
  color: gray;
  margin-top: 2px;
  font-size: 12px;
  opacity: .5;
}

.location-wrapper .btn-modal strong {
  font-size: 13px;
  color: #223a95;
  padding-right: 50px;
}

.location-wrapper .btn-modal .fa-solid {
  font-size: 13px;
  position: absolute;
  top: 20px;
  right: 12px;
}

.location-wrapper .btn-modal span {
  font-size: .6875rem;
  margin: 0;
  color: #979797;
  padding-right: 82px;
}

.location-wrapper .btn-modal {
  position: relative;
  background-color: white;
  color: #233a95;
  border: 1px solid rgba(151, 151, 151, 0.5);
  margin-top: 10px;
  margin-left: 30px;
  height: 54px;
  border-radius: 5px;
  width: 180px;
}

.location-wrapper .btn-modal:hover {
  -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
}

.location-wrapper .btn-modal:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.location-wrapper .modal-body {
  height: 400px;
  overflow-y: scroll;
}

.location-wrapper .modal-body span {
  float: right;
}

.location-wrapper .modal-body .modals-search {
  margin-left: 18px;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-top: 7px;
  background-color: #f3f4f7;
  width: 417px;
  border-radius: 5px;
}

.location-wrapper .modal-body .search {
  background-color: transparent;
}

.location-wrapper .modal-body .search::-webkit-input-placeholder {
  color: #979797;
}

.location-wrapper .modal-body .search:-ms-input-placeholder {
  color: #979797;
}

.location-wrapper .modal-body .search::-ms-input-placeholder {
  color: #979797;
}

.location-wrapper .modal-body .search::placeholder {
  color: #979797;
}

.location-wrapper .modal-body .search:focus {
  border: none;
}

.location-wrapper .modal-body .search:focus-visible {
  outline: none;
}

.input {
  position: relative;
  width: 554px;
  padding-top: 8px;
  padding-left: 30px;
}

.input input {
  padding: 0px 15px;
  width: 550px;
  height: 60px;
  background-color: #f3f4f7;
  border-radius: 10px;
  border: none;
}

.input input:focus {
  outline: none;
}

.input .fa-solid {
  position: absolute;
  top: 28px;
  right: 0;
  font-size: 20px;
}

.profile {
  background-color: #ffffff;
  border-color: #e2e4ec;
  position: relative;
  padding-top: 16px;
}

.profile .fa-solid {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  font-size: 19px;
  color: #3e445a;
  padding: 9px;
  padding-left: 10px;
}

.dropbtn {
  color: black;
  background-color: white;
  padding-top: 8px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding-right: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 35px;
  display: none;
  position: absolute;
  left: -200px;
  background-color: #f9f9f9;
  height: 300px;
  min-width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .shop {
  position: absolute;
  font-size: 19px;
  color: #ea2b0f;
  width: 40px;
  height: 40px;
  background-color: #fff1ee;
  border-color: #fff1ee;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 10px;
}

.price {
  position: relative;
  padding-left: 50px;
}

.dropdown-content .crystal {
  position: absolute;
  font-size: 50px;
  color: #ea2b0f;
  width: 70px;
  height: 70px;
  background-color: gainsboro;
  border-color: #fff1ee;
  border-radius: 50%;
  padding-top: 20px;
  padding-left: 20px;
  top: 18%;
  left: 36%;
}

.dropdown-content span {
  position: absolute;
  top: 44%;
  left: 22%;
  color: black;
}

.dropdown-content .content {
  height: 240px;
  border-bottom: 1px solid gainsboro;
}

.dropdown-content .ship {
  font-size: 12px;
  position: absolute;
  top: 255px;
  left: 14%;
  color: gray;
}

.shop .cart-icon span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  background-color: #ea2b0f;
  color: #ffffff;
  top: 0;
  right: -4px;
  font-size: 11px;
  padding-left: 6px;
  padding-top: 3px;
}

.shop .cart-icon {
  width: 20px;
  height: 20px;
}

.dropdown2 .btn-dropdown {
  background-color: #2BBEF9;
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 214px;
}

.dropdown2 .dropdown-menu {
  width: 215px;
  margin-top: 20px !important;
}

.dropdown2 .dropdown-menu li {
  cursor: pointer;
}

.dropdown2 .dropdown-menu li:hover {
  color: #2BBEF9;
}

.dropdown2 .dropdown-menu li:hover a {
  background-color: white;
  color: #2BBEF9;
}

.dropdown2 .dropdown-menu li .first {
  display: none;
  position: absolute;
  left: 214px;
  top: 0px;
  border: 1px solid #D9D9D9;
  height: 255px;
  border-radius: 4px;
  width: 220px;
}

.dropdown2 .dropdown-menu li .first li {
  padding: 0;
  border: none;
}

.dropdown2 .dropdown-menu li .last {
  display: none;
  position: absolute;
  left: 214px;
  top: 0px;
  border: 1px solid #D9D9D9;
  height: 340px;
  border-radius: 4px;
  width: 220px;
}

.dropdown2 .dropdown-menu li .last li {
  padding: 0;
  border: none;
}

.dropdown2 .dropdown-menu li:hover ul {
  display: block;
}

.dropdown2 .dropdown-menu li a i {
  padding-right: 5px;
}

.dropdown2 .dropdown-menu li .chevron {
  display: inline;
  padding: 0 13px;
}

.dropdown2 .dropdown-menu li .last-item {
  border-bottom: 1px solid #b9b9b9;
}

.dropbtn3 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown3 {
  position: relative;
  display: inline-block;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a:hover {
  color: #2BBEF9;
}

.dropdown3:hover .dropdown-content3 {
  display: block;
}

.dropdown3:hover .dropbtn3 {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

.menu .dropdown3 .down {
  font-size: 13px;
  margin-left: 2px;
}

.dropbtn4 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown4 {
  position: relative;
  display: inline-block;
}

.dropdown-content4 {
  width: 100vw;
  height: 25vw;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content4 a {
  color: #233a95;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 80px;
}

.dropdown-content4 a:hover {
  color: #2BBEF9;
}

.dropdown4:hover .dropdown-content4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -735px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown4:hover .dropbtn4 {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

.menu .dropdown4 .down {
  font-size: 13px;
  margin-left: 2px;
}

.dropdown4 .dropdown-content4 a ul {
  color: black;
  margin-top: 20px;
}

.dropdown4 .dropdown-content4 a ul li {
  margin-top: 10px;
  display: block;
  margin-right: 50px !important;
}

.dropdown4 .dropdown-content4 a ul li:hover {
  color: #2bbef9;
}

.dropbtn5 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn5:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

.dropbtn5 .meat {
  color: gray;
  margin-right: 7px;
  font-size: 18px;
}

.dropbtn5:hover .meat {
  color: #2bbef9;
  background-color: #e4eaec;
}

.dropbtn6 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn6:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

.dropbtn6 .cookie {
  color: gray;
  margin-right: 7px;
  font-size: 18px;
}

.dropbtn6:hover .cookie {
  color: #2bbef9;
  background-color: #e4eaec;
}

.dropbtn7 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn7:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

.dropbtn7 .coffee {
  color: gray;
  margin-right: 7px;
  font-size: 18px;
}

.dropbtn7:hover .coffee {
  color: #2bbef9;
  background-color: #e4eaec;
}

.dropbtn8 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn8:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

.dropbtn9 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn9:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

.background {
  background-color: #233a95;
  height: 370px;
}

.my-text {
  color: white;
  margin-top: 70px;
}

.my-text p {
  opacity: 0.7;
  margin: 0;
}

.my-text .pc {
  margin-top: 20px;
}

.my-text .sub {
  position: relative;
  background-color: white;
  width: 470px;
  height: 62px;
  border-radius: 5px;
}

.my-text .sub i {
  color: gray;
  margin-left: 10px;
  opacity: 0.7;
}

.my-text .sub .email-add {
  padding-top: 8px;
  height: 60px;
  outline: none;
  border: none;
}

.my-text .subs {
  float: right;
  margin-top: 5px;
  margin-right: 7px;
  background-color: #233a95;
  color: white;
  border: none;
  outline: none;
  height: 53px;
  width: 100px;
  border-radius: 5px;
}

.my-text input::-webkit-input-placeholder {
  opacity: 0.7;
}

.my-text input:-ms-input-placeholder {
  opacity: 0.7;
}

.my-text input::-ms-input-placeholder {
  opacity: 0.7;
}

.my-text input::placeholder {
  opacity: 0.7;
}

.coupon img {
  margin-top: 93px;
}

.icon-boxes {
  height: 71px;
  border-bottom: 1px solid #e4e5ee;
  background-color: #f7f8fd;
}

.icon-boxes .blender {
  border-right: 1px solid #e4e5ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-boxes .blender h6 {
  display: inline;
  margin-left: 8px;
}

.icon-boxes .blender i {
  opacity: 0.7;
  margin-bottom: 7px;
}

.all-products {
  background-color: #f7f8fd;
}

.all-products h6 {
  color: #202435;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 16px;
}

.all-products p {
  padding: 0;
  color: #71778e;
  font-size: 15px;
  cursor: pointer;
}

.fb-icon {
  background-color: #ffffff;
  border-color: #e2e4ec;
  position: relative;
  padding-top: 16px;
}

.fb-icon .fa-brands {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  font-size: 19px;
  color: #3e445a;
  padding: 9px;
  padding-left: 13px;
}

.tw-icon {
  background-color: #ffffff;
  border-color: #e2e4ec;
  position: relative;
  padding-left: 50px;
}

.tw-icon .fa-brands {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  font-size: 19px;
  color: #3e445a;
  padding: 9px;
  padding-left: 12px;
}

.ins-icon {
  background-color: #ffffff;
  border-color: #e2e4ec;
  position: relative;
  padding-left: 100px;
}

.ins-icon .fa-brands {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  font-size: 19px;
  color: #3e445a;
  padding: 9px;
  padding-left: 12px;
}

.phone-icon {
  background-color: #ffffff;
  border-color: #e2e4ec;
  position: relative;
}

.phone-icon .fa-solid {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  font-size: 19px;
  color: #3e445a;
  padding: 9px;
  padding-left: 13px;
}

.f-contacts .line {
  height: 40px;
  border-bottom: 1px solid #e4e5ee;
}

.f-contacts h4 {
  padding-left: 55px;
  font-weight: bold;
}

.f-contacts .work {
  padding-left: 55px;
  font-size: .6875rem;
  opacity: .5;
}

.f-contacts .info .apple-google {
  padding-left: 17px;
  padding-top: 20px;
}

.f-contacts .info .site-app {
  padding-top: 20px;
}

.f-contacts .info .site-app span {
  font-size: .6875rem;
  opacity: .5;
}

.f-contacts .info .site-app h6 {
  font-weight: bold;
}

.f-contacts .social-media {
  width: 170px;
  height: 71px;
  padding-left: 20px;
}

.copyright {
  height: 50px;
}

.copyright p {
  font-size: .75rem;
  margin: 0;
  letter-spacing: -.1px;
  line-height: 1.5;
  color: #9b9bb4;
  display: inline;
}

.copyright .p-space {
  margin-left: 14px;
}

.copyright img {
  padding-left: 15px;
}

.img-text {
  position: absolute;
  top: 30%;
  left: 20%;
}

.shop-now {
  position: relative;
}

.shop-now button {
  width: 150px;
  background-color: #2bbef9;
  color: white;
  border-radius: 20px;
  width: 130px;
  border: none;
  font-size: 14px;
  height: 35px;
  padding-right: 30px;
}

.shop-now .arr {
  position: absolute;
  top: 11px;
  left: 95px;
  color: white;
  font-size: 14px;
}

.home a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding-top: 3px;
}

.home i {
  padding-top: 7px;
  padding-left: 5px;
  font-size: 10px;
  opacity: 0.8;
  padding-right: 5px;
}

.home span {
  opacity: 0.8;
  font-size: 13px;
  padding-top: 2px;
  color: gray;
}

.cart-product .product-name {
  border-bottom: 1px solid #e4e5ee;
}

.cart-product .product-name p {
  margin-left: 95px;
}

.cart-product .product-price {
  border-bottom: 1px solid #e4e5ee;
}

.cart-product .product-quantity {
  border-bottom: 1px solid #e4e5ee;
}

.cart-product .product-subtotal {
  border-bottom: 1px solid #e4e5ee;
}

.cart-product .all-products {
  background-color: white;
  border-bottom: 1px solid #e4e5ee;
}

.cart-product .all-products p {
  margin-top: 5px;
}

.cart-product .all-products .minus {
  background-color: #edeef5;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
}

.cart-product .all-products .minus span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-product .all-products .plus {
  background-color: #edeef5;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 15px;
  cursor: pointer;
}

.cart-product .all-products .plus span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-product .all-products .count {
  margin-left: 15px;
}

.cart-product .all-products .total p {
  display: inline;
  font-weight: bold;
}

.cart-product .all-products .total i {
  float: right;
  margin-top: 4px;
  cursor: pointer;
}

.coupon-code {
  border: none;
  outline: none;
  background-color: #f3f4f7;
  width: 280px;
  height: 44px;
  padding-left: 20px;
  border-radius: 5px;
}

.apply-coupon {
  width: 121px;
  height: 44px;
  background-color: #233a95;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: .75rem;
  height: 2.75rem;
}

.update-cart {
  width: 110px;
  height: 44px;
  background-color: #f3f3f6;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #c2c2d3;
  font-size: .75rem;
  height: 2.75rem;
  float: right;
}

.shopping-details {
  width: 320px;
  height: 437px;
  border: 1px solid #e4e5ee;
  margin-left: 20px;
}

.shopping-details h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 0.9375rem;
  margin-top: 25px;
  border-bottom: 0.9375rem;
  border-bottom: 1px solid #e4e5ee;
}

.shopping-details .total {
  padding-left: 40px;
  font-weight: 500;
}

.shopping-details .total-price {
  padding-left: 65px;
}

.shopping-details .shipping {
  font-weight: 500;
  border: 1px solid #e4e5ee;
  width: 102px;
  height: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 20px;
}

.shopping-details .shipping-details {
  border-bottom: 1px solid #e4e5ee;
  border-top: 1px solid #e4e5ee;
  border-right: 1px solid #e4e5ee;
  width: 175px;
  height: 163px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping-details .shipping-details a {
  margin-left: 50px;
  text-decoration: none;
  color: #2bbef9;
}

.shopping-details .shipping-details a:hover {
  color: #223a95;
  text-decoration: underline;
}

.shopping-details .shipping-details .shipping-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3px;
}

.shopping-details .shipping-details .flat-rate {
  margin-right: 5px;
  font-size: .8125rem;
}

.shopping-details .shipping-details .five-dol {
  margin-right: 5px;
  color: #ed174a;
}

.shopping-details .shipping-details .free-shp {
  margin-right: 5px;
  font-size: .8125rem;
}

.shopping-details .shipping-details .local-pick {
  margin-right: 5px;
  font-size: .8125rem;
}

.shopping-details .shipping-details .shipping-to {
  margin-right: 5px;
  font-size: .8125rem;
}

.shopping-details .total-price-products {
  border-bottom: 1px solid #e4e5ee;
}

.shopping-details .total-price-products h4 {
  float: right;
  font-size: 23px;
}

.shopping-details .btn-checkout {
  width: 278px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  background-color: #ed174a;
  border: none;
  border-radius: 5px;
  color: white;
}

.shopping-details .btn-checkout:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/*# sourceMappingURL=cart.css.map */